<head>
    <title>{{ .Site.Title }}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000084" />
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap-responsive.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    {{/* Don't ask why it's like this. This original theme is a mess... */}}
    <!-- <noscript><style>body { visibility: visible }</style></noscript> -->

    <meta name="twitter:title" content="Tales of the Net">
    <meta property="og:title" content="Tales of the Net">
    <meta name="twitter:card" content="small stories about what goes on online">
    <meta property="og:description" content="small stories about what goes on online">
    <meta property="og:image" content="https://talesofthe.net/pill256.png">
    <meta property="og:url" content="https://talesofthe.net">
 
</head>
