body { 
	visibility: hidden 
}

.navmargin {
	margin-top: 2em;
}

h2 {
    white-space: normal;
}

@font-face {
	font-family: "Kardust Bold Expanded";
	src: url("/fonts/KardustBoldExpanded/font.woff2") format("woff2"),
		url("/fonts/KardustBoldExpanded/font.woff") format("woff");
}